.movie {
  display: block;
}

.coverImg {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 50vh;
  position: relative;
}

.coverImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 40%;
}

.moviePic {
  position: absolute;
  top: 0;
  margin: 10% 20%;
  width: 60%;
  height: 40vh;
}

.moviePic img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.movieText {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.movieText h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px red;
}

.movieText span {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  color: red;
}

.movieText span p {
  margin-left: 10px;
}

.movieText p {
  font-size: 1.1rem;
}
