.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-slide {
  float: left;
  min-height: 1px;
}

.heart {
  font-size: 1.5rem;
}
.love {
  color: red;
}

img {
  width: 100%;
}

.AllCards {
  width: 40%;
  height: 60%;
  flex-direction: column;
}

.cardSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.cards__title {
  width: 80%;
}

.movieCard {
}
