.HomeSpace {
  height: 100vh;
}

.poster__title {
  font-size: 2rem;
  font-weight: 800;
  background-image: url(/Images/bgImg.jpg);
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: white;
}

.control-dots {
  opacity: 10%;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.releaseDate {
  padding-top: 10px;
}

.movieDetails::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );
  z-index: 20;
}

.posterImg {
  height: 100vh;
}

.posterImg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.rating {
  opacity: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.rating span {
  opacity: 80%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posterImage__overlay {
  position: relative;
  padding: 10%;
  padding-right: 10%;
  text-align: start;
  position: absolute;
  z-index: 40;
  top: 0;
  margin-top: 12vh;
}

.play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0%;
  z-index: 0;
}

.play-icon {
  font-size: 3.5rem;
  color: rgb(255, 0, 0);
}

.play:hover,
.play:focus {
  opacity: 100%;
}

.HomeCard img {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.HomeCard img {
  width: 40%;
}
