.header {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.04),
    rgba(0, 0, 0, 0.03),
    rgba(0, 0, 0, 0.02),
    rgba(0, 0, 0, 0)
  );
  z-index: 50;
}

.flex {
  display: flex;
  align-items: center;
}

.header-icon {
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.icons {
  font-size: 1.4rem;
  margin: 3%;
}

.nav-links,
.header-nav {
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
  gap: 10px;
}

.head-link,
.header_category {
  width: 100%;
  padding: 10%;
}

.nav-links,
.header-nav {
  position: absolute;
  background-color: black;
  width: 100%;
  top: 0;
  height: 100vh;
}

.nav-links .cancel,
.header-nav .cancel {
  padding: 5%;
  font-size: 1.3rem;
  width: 100%;
}

.cancel {
  text-align: right;
}

.sameNav {
  height: 100vh;
}

/* @media screen and (min-width: 300px) {
  .header-nav {
    display: block;
  }
} */
