* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
  color: whitesmoke;
  font-size: 1.5rem;
}

.flex {
  display: flex;
  align-items: center;
}

.header {
  position: absolute;
  height: 5vh;
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.04),
    rgba(0, 0, 0, 0.03),
    rgba(0, 0, 0, 0.02),
    rgba(0, 0, 0, 0)
  );
  justify-content: space-between;
  color: black;
  z-index: 1;
  padding: 5%;
}

.header_icon {
  width: 50px;
  border-radius: 10px;
  color: rgb(35, 2, 2);
  text-shadow: 1px 2px 1px rgb(86, 1, 32);
}

.headerNav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  flex-direction: column;
  z-index: 10;
  background-color: rgb(130, 4, 4);
}

a {
  text-decoration: none;
  color: white;
}

.headerNav a {
  text-decoration: none;
  margin-top: 25%;
  font-size: 1.4rem;
  color: whitesmoke;
}
