* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppin", sans-serif;
  background-color: #141414;
  color: white;
}

a {
  text-decoration: none;
  margin-left: 10px;
}

ul {
  list-style: none;
}

.flexSB {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 90%;
  margin: auto;
}

button {
  background-color: red;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*



.hamburger,
.cancel {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .icons-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header-icons {
  width: 35px;
  height: 35px;
  padding: 7px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 5px;
}

header button {
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
}

header .subscribe-btn {
  font-size: 15px;
  margin-left: 5px;
  padding: 10px 15px 10px;
}

.row {
  width: 100%;
}

p {
  line-height: 30px;
} */

/* upcoming css */
/* 
.heading h1 {
  font-weight: 500;
  margin: 30px 0;
}

.heading a {
  color: red;
}

.movieBox {
  width: 400px;
  height: 330px;
  position: relative;
  transition: 0.5s;
  border-left: 5px solid transparent;
  color: white;
}

.movieBox:hover {
  cursor: pointer;
  border-left: 5px solid rgb(171, 0, 0);
  transform: scale3d(1.1, 1.1, 1) translate3d(6%, 0, 0) perspective(31.25em);
  box-shadow: 0 0 0.73em rgba(0, 0, 0, 0.9);
}
.movieBox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 330px;
  z-index: -1;
  background-image: linear-gradient(
    to 90deg,
    rgb(0, 0, 0, 0.8) 0%,
    rgb(20, 20, 20, 0.4) 50%,
    rgb(83, 100, 141, 0) 100%,
    100%
  );
}

.movieBox img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movieBox h3 {
  font-weight: 500;
  margin-bottom: 15px;
}

.movieBox button {
  margin-top: 15px;
  padding: 12px;
  font-size: 13;
  cursor: pointer;
}

.movieBox button i {
} */
