.list__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-gap: 5px;
  flex-direction: row;
  margin-top: 3vh;
  padding: 2%;
}

.movie__list h2 {
  font-size: 1.5rem;
  text-align: right;
  padding: 2% 10%;
}

.cards__img {
  padding: 3%;
}
