.movie__list {
  margin-top: 10%;
}

.movie__title {
  border-bottom: 3px solid rgb(195, 0, 0);
  width: 12%;
  text-align: right;
}

.list__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 5%;
  flex-direction: row;
}
